.body {
    font-family: 'Work Sans';
}

.header {
    background-image: url('/images/banner/banner1.png');
    background-size: cover;
}

.header-container {
    padding: 216px 230px 230px 1045px;
    text-align: right;
}

.header-title {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    font-family: Work Sans;
    max-width: 480px;
    /* padding-right: 1250px; */
    margin-bottom: 0px;
}

.header-body {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    max-width: 480px;
    font-family: Work Sans;
    margin: 32px 0;
}

.button-header {
    border: 0;
    margin-right: 150px;
    border-radius: 5px;
    background: #F15B22;
    width: 160px;
    height: 64px;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}

.main-1 {
    display: flex;
    margin: 140px 270px 20px 230px;
}

.back-image {
    width: 530px;
    height: 530px;
    /* background-image: url('images/person.png'); */
    border-radius: 530px;
    background: rgba(241, 91, 34, 0.20);
    margin-left: -548px;
    margin-top: 195px;
}

.front-image {
    z-index: 1;
}

.image-container {
    display: flex;
}

.text-container {
    padding-top: 230px;
    padding-left: 100px;
}


.section-title {
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    max-width: 280px;
}

.section-body {
    max-width: 400px;
    color: var(--Dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 8px;
}

.section-body-li {
    color: #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 8px;
    list-style: none;
    position: relative;
    padding-left: 1px;

    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: -0.5em;
        top: 0;
        transform: rotate(45deg);
        height: 1em;
        width: 0.5em;
        border-bottom: 0.15em solid;
        border-right: 0.15em solid;
    }

    &:is(li) {
        margin-left: 1em;

        &:not(:first-child) {
            margin-top: 1em;
        }
    }
}